.contact-banner{
    height: 50vh;
}
.contact-banner h1{
    font-size: 3.5rem;
}
.item{
    filter: grayscale(100%);
    text-decoration: none;
}
.item:hover{
    filter: none;
    color: black;
    text-decoration: none;
}
input,textarea{
    border-radius: 3px;
}
.prog-preg-btn
{
    background-color: var(--button-color);
    width: 100px;
    border-radius: 5px;
}