.welcome-banner {
    height: 100vh;
  }
  .welcome-banner .welcome-banner-cerificate img {
    height: 24px;
    width: auto;
  }
  .courses-calendar-card-icon-text {
    line-height: 15px;
    font-size: 12px;
  }
  .courses-calendar .card hr {
    height: 5px;
    background-color: var(--button-color);
    border-radius: 3px;
    opacity: 1;
  }
  .it-school img {
    border-radius: 50%;
  }
  .partners-container .image-wrapper{
    filter:grayscale(100%);
}
